@import "tailwindcss";

@theme {
  --color-text: #181818;
  --color-primary: #15028a;
  --color-secondary: #2f29f0;
  --color-accent: #15028a;
  --color-muted: #a6cfd5;
  --color-background: #c2e7d9;
  --color-font: #0f161e;
}
