@import "tailwindcss";

@theme {
  --color-text: #181818;
  --color-primary: #022733;
  --color-secondary: #011b24;
  --color-accent: #000814;
  --color-muted: #8bbeb2;
  --color-background: #edddd4;
}
